<div class="sidebar-menu">
    <div class="sidebar-menu-item sidebar-menu-left">
        <a :title="i18n('tooltip.refresh')" @click="refresh">
            <span class="glyphicon glyphicon-refresh"></span>{{ i18n('button.refresh') }}
        </a>
    </div>
    <div class="sidebar-menu-item sidebar-menu-center" :class="trendingActive()" @click="filter">
        <a :title="i18n('tooltip.trending')">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="label" :class="trendingStyle">{{ trendingCount() }}</span>
        </a>
    </div>
    <div class="sidebar-menu-item sidebar-menu-right">
        <a @click="settings">
            <span class="glyphicon glyphicon-cog"></span>{{ i18n('button.settings') }}
        </a>
    </div>
</div>
