<!--  -->
<script id="home" type="text/x-mustache">
    <div class="row">
        <div class="col-lg-12">
            <h1>Simple Sidebar</h1>
            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
    </div>
</script>
<script id="chart" type="text/x-mustache">
    <div class="row">
        <div class="col-lg-2">
            <img src="{{ productImageUrl }}" alt="{{ title }}" width="150" height="150">
        </div>
        <div class="col-lg-10">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="price-history-graph-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-default" href={{ url }}>View product home page</a>
        </div>
        <div class="col-lg-2">
            <a href="#" class="btn btn-default">Remove from tracked list</a>
        </div>
        <div class="col-lg-2">
            <a href="#" class="btn btn-danger">Report</a>
        </div>
    </div>
</script>