<div class="row">
    <div class="col-lg-2">
        <img src="{{ productImageUrl }}" alt="{{ title }}" width="150" height="150">
    </div>
    <div class="col-lg-10">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="price-history-graph-container"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <a class="btn btn-default" href={{ url }}>View product home page</a>
    </div>
    <div class="col-lg-2">
        <a href="#" class="btn btn-default">Remove from tracked list</a>
    </div>
    <div class="col-lg-2">
        <a href="#" class="btn btn-danger">Report</a>
    </div>
</div>
