@import "~datepicker.css";

.chart-container {
  &> div:first-child {
    background: #fff;
  }
}

#product {
  width: 100%;
  position: absolute;
  padding: 15px;
}

@media(min-width:768px) {
  #product {
    padding: 20px;
    position: relative;
  }
}
