<div id="sidebar">
    <div class="sidebar-content">
        <ul class="sidebar-nav" v-show="products.length">
            <li><SidebarMenu></SidebarMenu></li>
            <li class="sidebar-brand">
                <div class="form-group has-feedback">
                    <input type="search" class="form-control" data-toggle="tooltip" :title="i18n('tooltip')"
                           :placeholder="i18n('placeholder')" v-model="search">
                    <i class="form-control-feedback glyphicon glyphicon-search" v-show="!search"></i>
                    <i class="form-control-feedback glyphicon glyphicon-remove" v-show="search" @click="search=''"></i>
                </div>
            </li>
            <div id="products" v-show="products.length">
                <li v-for="p in filterBy(products, 'title', search)">
                    <a :title="p.title" @click="select(p)">{{ p.title }}</a>
                </li>
            </div>
        </ul>
    </div>
    <div class="sidebar-loading" v-show="loading">
        <span class="glyphicon glyphicon-refresh spinner" />
        <div class="loading-content">{{ i18n('loading') }}</div>
    </div>
    <div class="sidebar-empty" v-show="!(loading || products.length)">
        {{ i18n('empty') }}
    </div>
</div>
