<div id="sidebar">
    <div class="sidebar-content">
        <ul class="sidebar-nav" v-show="products.length">
            <li class="sidebar-brand">
                <input type="search" class="form-control" placeholder="Search products..." v-model="search">
                <span class="glyphicon glyphicon-search" v-show="!search"></span>
                <span class="glyphicon glyphicon-remove" v-show="search" @click="search=''"></span>
            </li>
            <div id="products" v-show="products.length">
                <li v-for="p in filterBy(products, 'title', search)">
                    <a :title="p.title" @click="select(p)">{{ p.title }}</a>
                </li>
            </div>
        </ul>
    </div>
    <div class="sidebar-loading" v-show="loading">
        <span class="glyphicon glyphicon-refresh spinner" />
        <div class="loading-content">Loading products</div>
    </div>
    <div class="sidebar-empty" v-show="!(loading || products.length)">
        No products tracked yet
    </div>
</div>
