.product-holder-grid .bottom-container .top {
    min-height: 150px;
}

.add-to-price-checker {
    margin-top: 1px;
}

.add-all-favorites {
    margin: 0 auto;
    display: block;
}

.loading-grid {
    margin-top: 10px;
    width: 140px;
    height: 9px;
}

.loading-homepage {
    margin: -3px 0 0 10px;
    width: 200px;
}
